<div class="p-grid" style="max-width: 400px; margin: auto">
  <div class="p-col">
    <br class="xs-80">
    <div class="account-body">
      <form autocomplete="on" #f="ngForm">
        <div class="p-col ">
          <h2 style="font-family: Oswald">Entrar</h2>
          <h6>Entre com sua conta</h6>
        </div>
        <div class="p-col">
          <input class="p-col-12" pInputText type="email" name="usuario" placeholder="E-mail" ngModel required #usuario>
        </div>
        <div class="p-col">
          <input class="p-col-12" pInputText type="password" name="senha" placeholder="Senha" ngModel required #senha>
        </div>
        <div class="p-col">
          <button pButton type="submit" label="Entrar" [disabled]="!f.valid" (click)="login(usuario.value, senha.value); senha.value = ''"></button>
        </div>
      </form>
    </div>
  </div>
</div>
