<div class="container">
  <div class="ui-g">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

      <div class="ui-g-12">
        <h1>{{editando ? 'Edição de ': 'Novo' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton name="tipo" [options]="tipos" [(ngModel)]="lancamento.tipo" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-4 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy" [(ngModel)]="lancamento.dataVencimento" [showIcon]="true"
          [inline]="false" [readonlyInput]="false" #vencimento="ngModel" required></p-calendar>
      </div>

      <div class="ui-g-6 ui-md-4 ui-fluid">
        <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar name="pagamento" dateFormat="dd/mm/yy" [(ngModel)]="lancamento.dataPagamento" [showIcon]="true"
          [inline]="false" [readonlyInput]="false" #pagamento="ngModel"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText #descricao="ngModel" ngModel [(ngModel)]="lancamento.descricao" type="text" name="descricao"
          required minlength="5">
        <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao" error="minlength" text="Mínimo de {{descricao.errors?.minlength?.requiredLength }} caracteres "></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" ngModel #valor="ngModel" [(ngModel)]="lancamento.valor" name="valor" currencyMask
          [options]="{prefix:'',thousands:'.',decimal:',', allowNegative:false}">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias" [(ngModel)]="lancamento.categoria.codigo" required
          [autoWidth]=false placeholder="Selecione uma Categoria"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" [(ngModel)]="lancamento.pessoa.codigo" [autoWidth]=false
          placeholder="Selecione uma Pessoa" filter="true"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <p-editor [style]="{'height':'150px'}" name="observacao" [(ngModel)]="lancamento.observacao"></p-editor>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" style="margin: 0px 5px 0px 0px;"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" (click)="novo(f)"  style="margin: 0px 5px 0px 0px;"></button>
        <a pButton label="Consultar" routerLink="/lancamentos"></a>
      </div>
    </form>
  </div>
</div>
