<nav class="navbar">
  <div class="container">
    <div class="p-col">
      <div class="p-col-12">
      </div>
    </div>
  </div>
</nav>
<div class="p-grid sample-layout">
  <div class="p-col-12 p-md-2">
    <app-navbar></app-navbar>
  </div>
  <div class="p-col-12 p-md-10  p-col-nogutter">
    <div class="p-col-12 p-col-nogutter">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--
  <app-pessoa-cadastro></app-pessoa-cadastro>
  <app-lancamento-cadastro></app-lancamento-cadastro>
  <app-lancamentos-pesquisa></app-lancamentos-pesquisa>
  <app-pessoa-pesquisa></app-pessoa-pesquisa>
  <app-categoria-pesquisa></app-categoria-pesquisa>
-->

<p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle" width="425" #confirm_dialog>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirm_dialog.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirm_dialog.reject()"></button>
  </p-footer>
</p-confirmDialog>
