<app-header></app-header>
<div class="p-grid">
  <div class="vertical-container">
    <app-navbar></app-navbar>
  </div>
  <div class="p-col">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>

<!--
  <app-pessoa-cadastro></app-pessoa-cadastro>
  <app-lancamento-cadastro></app-lancamento-cadastro>
  <app-lancamentos-pesquisa></app-lancamentos-pesquisa>
  <app-pessoa-pesquisa></app-pessoa-pesquisa>
  <app-categoria-pesquisa></app-categoria-pesquisa>
-->

<p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle" width="425" #confirm_dialog>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirm_dialog.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirm_dialog.reject()"></button>
  </p-footer>
</p-confirmDialog>
