<div class="p-col-10">
  <div class="p-col-12 p-col-nogutter">
    <h1>Lançamentos</h1>
  </div>
  <form autocomplete="off" (ngSubmit)="consultar()">
    <div class="p-grid">
      <div class="p-col-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText name="descricao" [(ngModel)]="filtro.descricao" type="text">
      </div>
      <div class="p-col-12">
        <label style="display:block">Vencimento</label>
        <p-calendar name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio" dateFormat="dd/mm/yy"
          [inputStyle]="{ width: '95px' }"></p-calendar>
        <label style="margin: 0px 10px 0px 10px;">até</label>
        <p-calendar name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim" dateFormat="dd/mm/yy" [inputStyle]="{ width:'95px'}"></p-calendar>
      </div>
      <div class="p-col-12">
        <p-button label="Pesquisar" type="submit"></p-button>
      </div>
    </div>
  </form>
</div>

<div class="p-col-10">
  <p-table [value]="lancamentos" [responsive]="true" emptyMessage="Nenhuma informação encontrada" [paginator]="true"
    [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="proximaPagina($event)"
    #tabela>
    <ng-template pTemplate="caption">
      Lista de Lançamentos
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Pessoa</th>
        <th>Descrição</th>
        <th class="col-data-header">Vencimento</th>
        <th class="col-data-header">Pagamento</th>
        <th class="col-valor-header">Valor</th>
        <th class="col-acoes-header">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lancamento>
      <tr>
        <td>{{lancamento.pessoa}}</td>
        <td>{{lancamento.descricao}}</td>
        <td class="col-data">{{lancamento.dataVencimento | date:"MM/dd/yyyy" }}</td>
        <td class="col-data">{{lancamento.dataPagamento | date:"MM/dd/yyyy" }}</td>
        <td class="col-valor" [ngClass]="lancamento.tipoLancamento ==='DESPESA' ? 'despesa' : 'receita'">
          {{lancamento.valor | currency:'BRL':true:'1.2-2'}}</td>
        <td class="col-acoes">
          <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" style="margin: 0px 5px 0px 0px;"
            [routerLink]="['/lancamento', lancamento.codigo]"></a>
          <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(lancamento)"
            [disabled]="!auth.havePermission('ROLE_REMOVER_PESSOA')"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="p-col-12">
  <a pButton label="Novo Lançamento" routerLink="/lancamento/novo"></a>
</div>
